
figure{
   align-items: center;
}

a:hover{
   color:green;
   text-decoration: none;
}

nav{
   line-height: 1.5;
}
html {
   padding-left: 100px;
   padding-right: 100px;
   margin-left: 100px;
   margin-right: 100px;

   font-family: Arial, Helvetica, sans-serif;
   font-size:medium;
}
#cat{
   align-items: center;
}
body{
   background-color: floralwhite;
}

section{
   background-color: cornsilk
}
figure {
   padding-left: 20px;
}

figcaption{
   padding-left: 40px;
}