
figure{
   align-items: center;
}

a:hover{
   color:green;
   text-decoration: none;
}

html {
   padding-left: 100px;
   padding-right: 100px;
   margin-left: 100px;
   margin-right: 100px;
}
figure {
   padding-left: 20px;
}
