figure {
  align-items: center;
}

a:hover {
  color: green;
  text-decoration: none;
}

nav {
  line-height: 1.5;
}

#cat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
}

body {
  background-color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: auto 10%;
  margin-top: 10px;
}

section,
footer {
  background-color: cornsilk;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

figcaption {
  padding-left: 40px;
}

label,
input {
  margin-bottom: 5px;
}